{% extends 'base.html' %}
{% block content %}
  <div class="col-sm-9 col-md-9 main">
    <div class="">
      <canvas style="" id="circleCanvas" width="1000px" height="700px" onclick="redirectToTopic()">
      </canvas>
    </div>
        <script type="text/javascript">
          var can = document.getElementById('circleCanvas');
          var context = can.getContext('2d');

          context.fillStyle = "blue";
          context.beginPath();
          var radius = 75; // for example
          context.arc(200, 400, radius, 0, Math.PI * 2);
          context.closePath();
          context.fill();
          context.fillStyle = "black"; // font color to write the text with
          var font = "bold " + radius / 3 + "px serif";
          context.font = font;
          context.textBaseline = "top";
          context.fillText("TRUMP", 170 - radius / 4, 420 - radius / 2);

          context.fillStyle = "yellow";
          context.beginPath();
          var radius = 75; // for example
          context.arc(800, 400, radius, 0, Math.PI * 2);
          context.closePath();
          context.fill();
          context.fillStyle = "black"; // font color to write the text with
          var font = "bold " + radius / 3 + "px serif";
          context.font = font;
          context.textBaseline = "top";
          context.fillText("CLINTON", 760 - radius / 4, 420 - radius / 2);



          context.beginPath();
          canvas_arrow(context, 265, 345, 420, 220);
          canvas_arrow(context, 590, 220, 740, 340);
          context.stroke();

          context.fillStyle = "red";
          context.beginPath();
          var radius = 100; // for example
          context.arc(500, 150, radius, 0, Math.PI * 2);
          context.closePath();
          context.fill();
          context.fillStyle = "black"; // font color to write the text with
          context.lineWidth = 5;
          context.strokeStyle = '#003300';
          context.stroke();
          var font = "bold " + radius / 3 + "px serif";
          context.font = font;
          context.textBaseline = "top";
          context.fillText("DEBATE", 455 - radius / 4, 180 - radius / 2);

          function canvas_arrow(context, fromx, fromy, tox, toy) {
              var headlen = 10; // length of head in pixels
              var angle = Math.atan2(toy - fromy, tox - fromx);
              context.moveTo(fromx, fromy);
              context.lineTo(tox, toy);
              context.lineTo(tox - headlen * Math.cos(angle - Math.PI / 6), toy - headlen * Math.sin(angle - Math.PI / 6));
              context.moveTo(tox, toy);
              context.lineTo(tox - headlen * Math.cos(angle + Math.PI / 6), toy - headlen * Math.sin(angle + Math.PI / 6));
          }

          function redirectToTopic() {
              window.location.href = "/cocomapapp/topic/show"
          }

          function redirectToTopicMath() {
              window.location.href = "/cocomapapp/topic/math"
          }
      </script>
  </div>
{% endblock content %}
