{% extends 'base.html' %}
{% block content %}
	<div class="col-sm-9 col-md-9 main">
		<!-- title -->
		<div class="mb-for-footer">
			<div class="panel panel-default panelmb0" style="background-color:#B7C0D7;">
		  	<div class="panel-body panelmb0" style="padding: 0;">
		    	<div class="panel panel-default panel-modest panelmb0 pull-right" style="background-color:#F8F9FC;">
		      	<a href="/cocomapapp"><b>Zoom Out</b></a>
		    	</div>
		    	<h1 style= "text-align:center;">Matematiksel Notasyonlarla Yazilabilen Atasozleri</h1>
		    	<div class="panel panel-default panel-modest panelmb0 pull-right" style="background-color:#F8F9FC;">
		      	<a><b>#</b>matematik</a> <a><b>#</b>atasozleri</a>
		    	</div>
		  	</div>
		  	<hr style="margin-top: 0; margin-bottom: 0;">
				<div class="panel panelmb0;" style="margin-bottom:0; background-color:#dfe3ee;">

		    	<!-- 4th entry -->
		      <div class="panel panel-default panel-margined">
						<form action="" method="post">{% csrf_token %}
			        <div class="panel-body">
			          <p><a href="#">Busra Ozis: </a></p>
						  	<textarea rows="4" cols="70" name="content"></textarea>
			        </div>
			        <div class="panel-footer">
			          <!-- Tags -->
							  Tags: 
							  <textarea rows="1" cols="30" name="tags">
							  </textarea>
			          <!-- Thumbs up, down -->
			          <div class="pull-right">
			            <button name="submit">Submit</button>
			          </div>
			        </div>
						</form>
      		</div>
    		</div>
  		</div>
		</div>
	</div>
{% endblock content %}
