{% extends 'base.html' %}
{% block content %}
<script src="/static/searchRes.js" type="text/javascript"></script>
<script src="/static/recommend.js" type="text/javascript"></script>
<div class="col-sm-9 col-md-9 main">
  <div class="container" style="padding-right: 130px !important">
    <h2>Search Results</h2>
    <ul class="list-group" id="results">
<!--      <li class="list-group-item">
        <a href=""></a>
      </li>
      <li class="list-group-item">
        <a href="">Second Item</a>
      </li>
      <li class="list-group-item">
        <a href="">Third Item</a>
      </li>
      <li class="list-group-item">
        <a href="">Fourth Item</a>
      </li>
      <li class="list-group-item">
        <a href="">Fifth Item</a>
      </li>
      <li class="list-group-item">
        <a href="">Sixth Item</a>
      </li>
      <li class="list-group-item">
        <a href="">Seventh Item</a>
      </li>-->
    </ul>
  </div>

</div>
{% endblock content %}
