{% extends 'base.html' %}
{% block content %}
  <div class="col-sm-9 col-md-9 main">
  	<!-- title -->
  	<div class="mb-for-footer">
  		<form action="" method="post">{% csrf_token %}
  			<div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="img-circle">
                  <div class="img-circle-content">
                      <h1>Topic Name</h1>
                      <input type="text" id="topicName">
                      <h1>Tags</h1>
                      <input type="text" id="tags">
                      <h1>Relationships</h1>
                      <input type="text" id="relationships">
                  </div>
              </div>
              <label class="checkbox-inline">
                  <input type="checkbox" value="">Check this if you want to add a post(you can add the post later)</label>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
  			   <button class="btn btn-success" name="foo" value="upvote">Publish</button>
                <!--<a href="/cocomapapp/topic/second" style="width:100%" type="button" class="btn btn-primary">Publish</a> -->
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <button style="width:100%; margin-top:10px;" type="button" class="btn btn-danger">Cancel</button>
            </div>
            <div class="col-md-5"></div>
        </div>
      </form>
  	</div>
  </div>
{% endblock content %}
