{% extends 'base.html' %}

{% block content %}
<script>
			var hot_topics = "{{hot_topics|escapejs|safe}}"
			var topic = "{{topic|escapejs|safe}}"
</script>
<script src="/static/topic.js" type="text/javascript"></script>
<script src="/static/recommend.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/static/topic.css">
<input type="hidden" id="userId" value={{user.id}}>
<div class="col-sm-9 col-md-9 main">
	<!-- title -->
	<div class="mb-for-footer">
		<div class="panel panel-default panelmb0" style="background-color:#B7C0D7;">
		  	<div class="panel-body panelmb0" style="padding: 0;">
		    	<div class="panel panel-default panel-modest panelmb0 pull-right" style="background-color:#F8F9FC;">
		      	<a onclick={searchItem=window.location.pathname;theRegex=/([0-9])+/igm;searchId=theRegex.exec(searchItem)[0];console.log("hello"+searchId);window.location.href=("/cocomapapp/infocus/"+searchId);}><b>Zoom Out</b></a>
		    	</div>
		    	<h1 id="theTitle" style= "text-align:center;"></h1>
		    	<div id="topicTags" style="margin:3%; font-size:20px;" >

		    	</div>
		  	</div>
	  		<hr style="margin-top: 0; margin-bottom: 0;">
			<div class="panel panelmb0; panelContainer" style="margin-bottom:0; background-color:#dfe3ee;"></div>
    		{% if user.is_authenticated %}
				<div class="panel" style="background-color:#F8F9FC; padding: 0;">
					<div class="panel-body">
						<textarea class="form-control" id="content"></textarea>
						<form id="content" class="bs-example bs-example-form" >

							<div class="input-group" align="center">
								<span class="input-group-addon">
									Tag:
									<input type="text" name="tags" id="tags" data-role="tagsinput" placeholder="Tag">
								</span>
							</div>
							<button id="submit" class="btn btn-primary btn-lg btn-block">Post</button>
						</form>
					</div>
				</div>
    		{% endif %}
			</div>
	</div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Update</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
          	<textarea class="form-control js-post-content"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" data-postUpdate="" class="btn btn-primary js-update-post-content">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Delete</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
          	Are you sure?
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" data-postDelete="" class="btn btn-danger js-delete-post">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}
