{% extends 'base.html' %}
{% block content %}
	<div class="col-sm-9 col-md-9 main">
		<!-- title -->
		<div class="mb-for-footer">
			<div class="panel panel-default panelmb0" style="background-color:#B7C0D7;">
		  	<div class="panel-body panelmb0" style="padding: 0;">
		    	<div class="panel panel-default panel-modest panelmb0 pull-right" style="background-color:#F8F9FC;">
		      	<a href="/cocomapapp"><b>Zoom Out</b></a>
		    	</div>
		    	<h1 style= "text-align:center;">Matematiksel Notasyonlarla Yazilabilen Atasozleri</h1>
		    	<div class="panel panel-default panel-modest panelmb0 pull-right" style="background-color:#F8F9FC;">
		      	<a><b>#</b>matematik</a> <a><b>#</b>atasozleri</a>
		    	</div>
		  	</div>
		  	<hr style="margin-top: 0; margin-bottom: 0;">
				<div class="panel panelmb0;" style="margin-bottom:0; background-color:#dfe3ee;">
		    	<!-- 1st entry -->
		      <div class="panel panel-default panel-margined">
		        <div class="panel-body">
		          <p><a href="#">Didem Surus: </a> <br>ya oldugun gibi gorun ya da gorundugun gibi ol.<br>f(x)=y v f(y)=x</p>
		        </div>
		        <div class="panel-footer">
		        	<!-- Tags -->
		          <a><b>#</b>matematik</a> <a><b>#</b>atasozleri</a>
		          <!-- Thumbs up, down -->
		          <div class="pull-right">
		            Accuracy:
		            <span class="glyphicon glyphicon-thumbs-up" style="color: blue;"><span style="color:green;">%82</span></span>
		            <span class="glyphicon glyphicon-thumbs-down"><span style="color:red;">%18</span> </span>
		          </div>
		        </div>
		      </div>
		  		<!-- 2nd entry -->
		      <div class="panel panel-default panel-margined">
		        <div class="panel-body">
		          <p><a href="#">Emrah Kucuk: </a> <br>
		          								1^0 = 1<br>
												1^1 = 1<br>
												1^10 = 1<br>
												1^100 = 1<br>

												esege altin semer de vursan esek yine esektir</p>
		        </div>
		        <div class="panel-footer">
		          <!-- Tags -->
		          <a><b>#</b>matematik</a> <a><b>#</b>atasozleri</a>
		          <!-- Thumbs up, down -->
		          <div class="pull-right">
		            Accuracy:
		            <span class="glyphicon glyphicon-thumbs-up" style="color: blue;"><span style="color:green;">%36</span></span>
		            <span class="glyphicon glyphicon-thumbs-down"><span style="color:red;">%64</span> </span>
		          </div>
		        </div>
		      </div>
		    	<!-- 3rd entry -->
		      <div class="panel panel-default panel-margined">
		        <div class="panel-body">
		          <p><a href="#">Dogukan Ocak: </a> <br>(-6) = -6
													<br>[-6] = -6
													<br>{-6} = -6
													<br>l-6l = 6
													<br>
													pantalonu gösteren ütüdür
							</p>
		        </div>
		        <div class="panel-footer">
		          <!-- Tags -->
		          <a><b>#</b>matematik</a> <a><b>#</b>atasozleri</a>
		          <!-- Thumbs up, down -->
		          <div class="pull-right">
		            Accuracy:
		            <span class="glyphicon glyphicon-thumbs-up"><span style="color:green;">%54</span></span>
		            <span class="glyphicon glyphicon-thumbs-down" style="color: blue;"><span style="color:red;">%46</span> </span>
		          </div>
		        </div>
		      </div>
		    	<!-- 4th entry -->
		      <div class="panel panel-default panel-margined">
		        <div class="panel-body">
		          <p><a href="#">Busra Ozis: </a> <br>1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 = 8<br>

												damlaya damlaya gol olur
							</p>
		        </div>
		        <div class="panel-footer">
		          <!-- Tags -->
		          <a><b>#</b>matematik</a> <a><b>#</b>atasozleri</a>
		          <!-- Thumbs up, down -->
		          <div class="pull-right">
		            Accuracy:
		            <span class="glyphicon glyphicon-thumbs-up" style="color: blue;"><span style="color:green;">%99</span></span>
		            <span class="glyphicon glyphicon-thumbs-down"><span style="color:red;">%1</span> </span>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
{% endblock content %}
