<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../assets/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/cocomapapp">COCOMAP</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/cocomapapp">Home Page <span class="sr-only"></span></a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Log Out</a></li>
          <li><a href="#">Create Topic</a></li>
          <li><a href="#">Add Relationship</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="col-sm-9 col-md-9 main">
		<!-- title -->
		<div class="mb-for-footer">
			<div class="panel panel-default panelmb0" style="background-color:#B7C0D7;">
		  	<div class="panel-body panelmb0" style="padding: 0;">
		    	<div class="panel panel-default panel-modest panelmb0 pull-right" style="background-color:#F8F9FC;">
		      	<a href="/cocomapapp"><b>Zoom Out</b></a>
		    	</div>
		    	<h1 style= "text-align:center;">TRUMP</h1>
		    	<div class="panel panel-default panel-modest panelmb0 pull-right" style="background-color:#F8F9FC;">
		      	<a><b>#</b>president2016</a> <a><b>#</b>makeamericagreatagain</a> <a><b>#</b>thedonald</a>
		    	</div>
		  	</div>
		  	<hr style="margin-top: 0; margin-bottom: 0;">
				<div class="panel panelmb0;" style="margin-bottom:0; background-color:#dfe3ee;">
		    	<!-- 1st entry -->
		      <div class="panel panel-default panel-margined">
		        <div class="panel-body">
		          <p><a href="#">Didem Surus: </a> Donald John Trump (born June 14, 1946) is an American businessman, television producer, author, politician, and the Republican Party nominee for President of the United States in the 2016 election. He is the chairman and president of The Trump Organization, which is the principal holding company for his real estate ventures and other business interests. During his career, Trump has built office towers, hotels, casinos, golf courses, an urban development project in Manhattan, and other branded facilities worldwide.</p>
		        </div>
		        <div class="panel-footer">
		        	<!-- Tags -->
		          <a href="#">#trump</a> <a href="#">#clinton</a> <a href="#">#president</a> <a href="#">#politics</a>
		          <!-- Thumbs up, down -->
		          <div class="pull-right">
		            Accuracy:
		            <span class="glyphicon glyphicon-thumbs-up" style="color: blue;"><span style="color:green;">%82</span></span>
		            <span class="glyphicon glyphicon-thumbs-down"><span style="color:red;">%18</span> </span>
		          </div>
		        </div>
		      </div>
		  		<!-- 2nd entry -->
		      <div class="panel panel-default panel-margined">
		        <div class="panel-body">
		          <p><a href="#">John Black: </a> If Trump had half the media help that Crooked had this game would be over.
							Can you imagine a handful of Hannity's on the news? It would be great.</p>
		        </div>
		        <div class="panel-footer">
		          <!-- Tags -->
		          <a href="#">#trump</a> <a href="#">#clinton</a> <a href="#">#president</a> <a href="#">#politics</a>
		          <!-- Thumbs up, down -->
		          <div class="pull-right">
		            Accuracy:
		            <span class="glyphicon glyphicon-thumbs-up" style="color: blue;"><span style="color:green;">%36</span></span>
		            <span class="glyphicon glyphicon-thumbs-down"><span style="color:red;">%64</span> </span>
		          </div>
		        </div>
		      </div>
		    	<!-- 3rd entry -->
		      <div class="panel panel-default panel-margined">
		        <div class="panel-body">
		          <p><a href="#">Dogukan Ocak: </a> All three of those stories can't be true. Deductive reasoning says: If her Judicial Watch testimony is true, then she lied to the FBI about Powell. That's a crime. If her Judicial Watch testimony is true, then she lied to the Benghazi Committee about the server. That's a crime. If her FBI testimony is true, then she lied in a deposition. That's a crime, and it's what got Bill Clinton impeached and disbarred. If her Benghazi Committee testimony is true, then she lied in a deposition. That's a crime, and it's what got Bill Clinton impeached and disbarred.</p>
		        </div>
		        <div class="panel-footer">
		          <!-- Tags -->
		          <a href="#">#trump</a> <a href="#">#clinton</a> <a href="#">#president</a> <a href="#">#politics</a>
		          <!-- Thumbs up, down -->
		          <div class="pull-right">
		            Accuracy:
		            <span class="glyphicon glyphicon-thumbs-up"><span style="color:green;">%54</span></span>
		            <span class="glyphicon glyphicon-thumbs-down" style="color: blue;"><span style="color:red;">%46</span> </span>
		          </div>
		        </div>
		      </div>
		    	<!-- 4th entry -->
		      <div class="panel panel-default panel-margined">
		        <div class="panel-body">
		          <p><a href="#">Cobra Johnson: </a> As a liberal, no. It's the evil Clinton corruption campaign at its finest. They're Everything that's wrong with the Democratic party. And please don't say liberals are bad for everything, we need the Bernie vote.
							</p>
		        </div>
		        <div class="panel-footer">
		          <!-- Tags -->
		          <a href="#">#trump</a> <a href="#">#clinton</a> <a href="#">#president</a> <a href="#">#politics</a>
		          <!-- Thumbs up, down -->
		          <div class="pull-right">
		            Accuracy:
		            <span class="glyphicon glyphicon-thumbs-up" style="color: blue;"><span style="color:green;">%99</span></span>
		            <span class="glyphicon glyphicon-thumbs-down"><span style="color:red;">%1</span> </span>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
    <div class="row col-sm-9 sticky-footer" style="bottom:0; position:fixed;">
  	  <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Search</button>
	        <button style="margin-left: 20px;" class="btn btn-default" type="button">Advanced Search</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div>
  <div class="col-sm-3 col-md-3 sidebar">
		<div class="text-center">POST FROM USERS YOU FOLLOW</div>
		</br>
    <ul class="nav nav-sidebar list-group list-following-posts">
      <li class="list-group-item">
      	<a href="#">Cabbar posted to Security in Ce... <span class="sr-only">(current)</span></a>
      	<p>selam kizlar naber haha ben de iyi takiliyoruz kips kips lorem lorem...</p>
      </li>
      <li class="list-group-item">
      	<a href="#">Yeliz posted to Music</a>
      	<p>selam kizlar naber haha ben de iyi takiliyoruz kips kips</p>
      </li>
      <li class="list-group-item">
      	<a href="#">Pasha posted to Shopping in Mil...</a>
      	<p>selam kizlar naber haha ben de iyi takiliyoruz kips kips</p>
      </li>
      <li class="list-group-item">
      	<a href="#">Recep posted to equality</a>
      	<p>selam kizlar naber haha ben de iyi takiliyoruz kips kips</p>
      </li>
    </ul>
    </br>
    </br>
    <div class="text-center">POPULAR TOPICS</div>
		</br>
    <ul class="nav nav-sidebar">
      <li class="">
      	<a href="#">First Flight in Turkey <span class="sr-only">(current)</span></a>
      </li>
      <li class="">
      	<a href="#">Sivil War in Mozambique</a>
      </li>
      <li class="">
      	<a href="#">Inferno</a>
      </li>
      <li class="">
      	<a href="#">Debate2016</a>
      </li>
    </ul>
  </div>
</body>
</html>